.button
{
	-fx-background-color : #374A64;
}
.button:hover
{
	-fx-background-color : #243142;
}
.button:pressed
{
	-fx-background-color : #4C5C73;
}
.check-box {
    /* default properties */
    selected-box-color: #374A64;
    box-color: #374A64;
    mark-color: white;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: mark-color;
}

.powerButton
{
	-fx-background-radius: 65;
	-fx-background-color: #ffffff;
	-fx-border-color: #F30404;
	-fx-border-radius: 65;
}

.powerButton:hover
{
	-fx-background-radius: 65;
	-fx-background-color: #F30404;
	-fx-border-color: #ffffff;
	-fx-border-radius: 65;
}

.editButton
{
	-fx-background-color: #ffffff;
	-fx-border-color:#000000;
}

.editButton:hover
{
	-fx-background-color:  #5D6C81;
	-fx-border-color: #000000;	
}
.circleButton
{
    -fx-background-radius: 20;
    -fx-background-color: #ffffff;
	-fx-border-radius: 20;
	-fx-border-color:#000000;
}

.circleButton:hover
{
	-fx-background-color : #7A8697;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color:#7A8697;
}

.autotuneAndPreset
{
    -fx-background-radius: 20;
    -fx-background-color:  #374A64;
	-fx-border-radius: 20;
	-fx-border-color: #374A64;
}

.autotuneAndPreset:hover
{
	-fx-background-color : #5D6C81;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: #5D6C81;
}

.circleButton:hover
{
	-fx-background-color : #243142;
	-fx-background-radius: 20;
}

.menuButton{
	-fx-background-color: #ffffff;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color:#000000;
}
.paneMenu{
	-fx-background-color: #ffffff;
	-fx-border-color : #000000;
}
.knobButton {
    -fx-min-width: 30;
    -fx-max-width: 120;
    -fx-min-height: 30;
    -fx-max-height: 120;
}
.rotation-dial {
    -fx-background-radius: 100;
}
.rotation-handle {
    -fx-background-color: null;
    -fx-background-image: url("../img/rotate-handle.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
}